/* NavBar.css */
.navbar {
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ab2544;
}

.navbar-brand {
    font-size: 1.8rem;
    color: #ffc107 !important;
}

.nav-link {
    font-size: 1rem;
    color: #d30c0c !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffc107 !important;
    text-decoration: underline;
}

.nav-link.active {
    font-weight: bold;
    color: #ffc107 !important;
}

button.logout-btn {
    border: 1px solid #ffc107;
    color: #ffc107;
    transition: all 0.3s ease;
}

button.logout-btn:hover {
    background-color: #ffc107;
    color: #343a40;
}